/* base mobile dimensions......................... why is this here and not somewheres else i hate it i hate this */
header {
  background-image: url("../images/batthern.png");
  background-attachment: fixed;
  background-color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

 header .portrait {
  display: block;
  margin: 0 auto;
  max-height: 100px;
  max-width: 25vw;
  padding: 5px;
}

header .name {
  text-align: center;
  margin: 0.5em 0;
  color: white;
  /* font-weight: normal; */
}

header .name h2 {
  display: block;
  margin: 0;
  font-weight: normal;
}

