nav {
  position: sticky;             /* used to ensure navbar remains in the page flow */
  top: 0;
  left: 0; 
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  width: 100vw;                 /* using viewport units for responsive stuff later */
  z-index: 1000;                /* brute force approach :p */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav span {
  padding: 1.5em;
  text-align: center;
  font-family: 'Bungee', sans-serif;
}

nav div {
  padding: 1em 1.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav p {
  display: block;
  margin: 0;
  padding: 0;
}

nav .iconify {
  color: red;
}