.container {
  position: relative;
  top: -6em;
  transition: top 0.75s ease;
  z-index: -1;
}

/* .exposed class exposes the new-tweet element by sliding the whole div down */
.container.exposed {
  top: 0;
  
}

.bleedContainer {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
  /* height: 145px; */
}

.new-tweet {
  display: block;
  overflow: hidden;
  text-align: center;
  background-color: inherit;
  height: 100%;
  margin-bottom: 2em;
}

.error {
  opacity: 0;
  height: auto;
  width: 100%;
  margin: 0 auto;
  max-height: 0;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #ff0000;
  padding: 0;
  color: #ff0000;
  justify-content: left;
  transition: all 0.5s ease;
}

.error.exposed{
  max-height: 100px;
  opacity: 1;
  padding: 0.25em;
  
}

.error p {
  color:black;
  padding: 0;
  margin: 0;
  text-align: center;
}

.error .iconify {
  min-width: 50px;
}




.new-tweet textarea {
  /* normalize */
  border-style: none;
  overflow: auto;
  outline: none;
  resize: none;
  
  /* placement */
  display: block;
  width: 100%;
  background-color: inherit;
  height: 2.3em;
  margin: 10px auto;

  /* styling */
  border-bottom: 6px solid #444;
  line-height: 2.2em;
  padding: 0em;
  padding-bottom: 0;
  margin-bottom: 15px;

  /* font */
  font-weight: 600;
}

.new-tweet input {
  font-family: 'Bungee', cursive;
  font-size: 0.9em;
  padding: 0.2rem 0.6rem;
  background-color: red;
  color: white;
  float: left;
  border: none;
  
}

.new-tweet input:active {
  background-color: black;
}


.new-tweet .counter {
  font-family: 'Bungee', cursive;
  float: right;
  padding: 0.2rem;
}