.tweet {
  background-color: inherit;
  display: block;
  overflow: auto;
  height: 100%;
  margin: 1em 0;
  border: 5px solid gray;
}

.tweet header {
  background-color: inherit;
  background-image: none;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.userInfo {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.userAddress {
  color: #ccc;
  padding-right: 1em;
}

.tweet article {
  width: 90%;
  margin: 0 auto;
}

.tweet footer {
  font-size: 0.65em;
  width: 95%;
  height: 3em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid gray;
}